/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
a {
    text-decoration: none;
}


body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
   

}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}
.btn{
    display: block;
    float: right;
}
.texto-naranja {
    font-weight: 300;
    color: #FCC830;
}

img{
    max-width: 100%;
 max-height: 100%;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

h2{
    font-size: 40px;
    text-transform: uppercase;
}

.texto-negro {
	color: #000;
}

.center{
    text-align: center;
}


/*fullpage*/
#fp-nav ul li a span {
    background-color: #FCC830;
}
/*nav*/
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}
.icoblanco{
    color: white;
}
.nav li, 
.nav a{
display: inline-block;
margin: 6px;
text-decoration: none;
text-transform: uppercase;
font-family: 'Oswals', sans-serif;
font-size: 4px;
color: white;
transition: .5s ease;
}

.nav li.active{
    border-bottom: 2px solid #FCC830;
} 
/* header*/

.header{
    background-color: #000;
}

.header .titulo{
    font-size:  60px;
    text-transform: uppercase;
}

.header .parrafoInicio{
    font-size: 50px;
    text-transform: uppercase;
}


.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 95%;

}

.fp-controlArrow.fp-prev{
    left: 70%;
}



/**footer*/
.footer .redes-sociales{
    display: grid;
    place-content: center;
    margin: 0;
    font-size: 40px;
    flex-direction: column;
    margin-top: 10px;
    
}

.footer .redes-sociales a{
    display: flex;
    height: 70px;
    width: 200px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 15px 10px;
}

.btn .footer .redes-sociales a{
    display: flex;
    height: 70px;
    width: 200px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 15px 10px;
}

.footer .redes-sociales h3{
    font-size: 20px;
    color: #000;
    margin-left: 40px;
}

.iconox{
    display: flex;
    height: 60px;
    width: 60px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;  
}

.footer .redes-sociales i{
    margin-right: 25px;
    margin-left: 5px;
}
i{
    text-align: center;
}

.video {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    }

.yt{
  color: red;  
  padding-right: 2px;
}



.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


.bgb{
    background-color: black;
}

.tw{
    color: white;
}

.mensaje{
    padding: 10px;
}
.pt{
    padding-top: 25px;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}