/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
a {
    text-decoration: none;
}


body { 
    font-family: 'Lato', sans-serif;
    
   

}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
    
}
.btn{
    display: block;
    float: right;
}
.texto-naranja {
    font-weight: 300;
    color: #FCC830;
    
}

.size a{
    font-size: 10px;
}


img{
    max-width: 100%;
 max-height: 100%;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.espacio{
    padding-top: 10px;
}

h2{
    font-size: 40px;
    text-transform: uppercase;
}

.texto-negro {
	color: #000;
}

.center{
    text-align: center;
}


/*fullpage*/
#fp-nav ul li a span {
    background-color: #FCC830;
}
/*nav*/
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}
.icoblanco{
    color: white;
}
.nav li, 
.nav a{
display: inline-block;
margin: 6px;
text-decoration: none;
text-transform: uppercase;
font-family: 'Oswals', sans-serif;
font-size: 4px;
color: white;
transition: .5s ease;
}

.nav li.active{
    border-bottom: 2px solid #FCC830;
} 
/* header*/

.header{
    background-color: #000;
}

.header .titulo{
    font-size:  60px;
    text-transform: uppercase;
}

.header .parrafoInicio{
    font-size: 50px;
    text-transform: uppercase;
}


.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 95%;

}

.fp-controlArrow.fp-prev{
    left: 70%;
}



/**footer*/
.footer .redes-sociales{
    display: grid;
    place-content: center;
    margin: 0;
    font-size: 15px;
    flex-direction: column;
    margin-top: 1px;
    
}

.footer .redes-sociales a{
    display: flex;
    height: 60px;
    width: 225px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 15px 10px;
}

.btn .footer .redes-sociales a{
    display: flex;
    height: 70px;
    width: 200px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.footer .redes-sociales h3{
    font-size: 20px;
    color: #000;
    margin-left: 40px;
}

.iconox{
    display: flex;
    height: 60px;
    width: 60px;
    background: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;  
}

.footer .redes-sociales i{
    margin-right: 25px;
    margin-left: 5px;
}
i{
    text-align: center;
}

.video {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    }

.yt{
  color: red;  
  padding-right: 2px;
}



.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


.bgb{
    background-color: black;
}

.tw{
    color: white;
}

.mensaje{
    padding: 10px;
}
.pt{
    padding-top: 40px;
}


.mar{
    margin: 0;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.imgPopup{
    width: 100%;
}

img{
    width: 100%;
    display: block;
}

.roww{
    display: flex;
    padding: 5px;
    flex-wrap: wrap-reverse;
}

.fondoPanal{
    background-image: url("/Panal7.png");
    background-size: 120%;
}
.galeryPapa{
    width: 90%;
    margin: auto;
}

.colum{
    flex: 0%;
    padding: 5px;
}

.colum img{
    margin-top: 5px;
}

.galery{
    display: flex;
    flex-wrap: wrap;
}

.galery img{
    width: 80%;
    object-fit: cover;
    padding: 5px;
}

@media (max-width: 600px) {
    .galery img {
        width: 50%;
    }
}






.whatsapp {
    display: flex;
    justify-content: center;
    position: static;
    align-items: center;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    z-index: 9999;
  }

  .insta {
    display: flex;
    justify-content: center;
    position: static;
    align-items: center;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F47133;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    z-index: 9999;
  }
  
  .whatsapp:hover {
    background-color: #25d366;
  }
  


  .catalogoN2{
    background-image: url("/catalogo/cart97.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN1{
    background-image: url("/catalogo/menuportada.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN3{
    background-image: url("/catalogo/cart92.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN4{
    background-image: url("/catalogo/cart85.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN5{
    background-image: url("/catalogo/pods.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN6{
    background-image: url("/catalogo/megatoke.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN7{
    background-image: url("/catalogo/preroll.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN8{
    background-image: url("/catalogo/cartcbd.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN9{
    background-image: url("/catalogo/dulces.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN10{
    background-image: url("/catalogo/accesorios.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogoN11{
    background-image: url("/catalogo/ccellauto.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#contenedor-imagen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
  }

  
  #contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

.promo3{
    background-image: url("/media/kitsinicioprecionormal.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.promo7{
    background-image: url("/media/menuportada.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.promodia{
    background-image: url("/media/recargadia.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo97{
    background-image: url("/media/recarga97.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo975{
    background-image: url("/media/recarga975.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo92{
    background-image: url("/media/recarga92.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo85{
    background-image: url("/media/recarga85.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo855{
    background-image: url("/media/recarga855.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.flor{
    background-image: url("/media/florbeehigh.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.florv2{
    background-image: url("/media/florflyer.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}